<config	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Magento only includes 2 type of layer resolvers i.e Category and search whereas our custom page is neither a category page
    nor a search page so we need to add a new layer resolver on our custom page-->
    <type name="Magento\Catalog\Model\Layer\Resolver">
        <arguments>
            <argument name="layersPool" xsi:type="array">
                <item name="category" xsi:type="string">Magento\Catalog\Model\Layer\Category</item>
                <item name="search" xsi:type="string">Magento\Catalog\Model\Layer\Search</item>
                <item name="customlayer" xsi:type="string">BlottedScience\CustomNavigation\Model\Layer</item>
            </argument>
        </arguments>
    </type>

    <!-- To prepare the filterlist for our custom collection which would be passed to the left navigation we need below virtual types
    for our custom page navigation -->
    <virtualType name="customFilterList" type="BlottedScience\CustomNavigation\Model\Layer\FilterList">
        <arguments>
            <argument name="filterableAttributes" xsi:type="object">BlottedScience\CustomNavigation\Model\Layer\FilterableAttributeList</argument>
            <argument name="filters" xsi:type="array">
                <item name="attribute" xsi:type="string">BlottedScience\CustomNavigation\Model\Layer\Filter\Attribute</item>
                <item name="category" xsi:type="string">BlottedScience\CustomNavigation\Model\Layer\Filter\Category</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- once the filter list virtual type is ready we can pass the same to our navigation ,
    I have prepared the virtual type of the core navigation for my custom module and have passed the custom filter list to it -->
    <virtualType name="BlottedScience\CustomNavigation\Block\Navigation\CustomNavigation" type="Magento\LayeredNavigation\Block\Navigation">
        <arguments>
            <argument name="filterList" xsi:type="object">customFilterList</argument>
        </arguments>
    </virtualType>

    <!-- As we will be modifying the layer model collection we will need to extend the core model layer, Below virtual type
    will be required to extend the Catalog model layer else it will throw error for the context in construct method-->
    <virtualType name="BlottedScience\CustomNavigation\Model\Layer\Context" type="Magento\Catalog\Model\Layer\Context">
        <arguments>
            <argument name="collectionProvider" xsi:type="object">BlottedScience\CustomNavigation\Model\Layer\ItemCollectionProvider</argument>
            <argument name="stateKey" xsi:type="object">BlottedScience\CustomNavigation\Model\Layer\StateKey</argument>
            <argument name="collectionFilter" xsi:type="object">BlottedScience\CustomNavigation\Model\Layer\CollectionFilter</argument>
        </arguments>
    </virtualType>

    <type name="BlottedScience\CustomNavigation\Model\Layer">
        <arguments>
            <argument name="context" xsi:type="object">BlottedScience\CustomNavigation\Model\Layer\Context</argument>
        </arguments>
    </type>

</config>